<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <%= render partial: 'shared/header', locals: {
                    icon: 'users',
                    breadcrumb_1: 'Locataires',
                    breadcrumb_2: 'nouveau',
                    main_url: tenants_path,
                    breadcrumb_url: '#'
                }
            %>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row justify-content-md-center">
        <div class="col col-sm-10">
            <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Ajouter un locataire</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <%= render partial: 'tenants/form', locals: {
                            url: tenants_path,
                            method: :post
                        } 
                    %>
                </div>
            </div>
        </div>
    </div>
</div>