<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
            
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Votre attention est requise</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                
                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">Vous devez lire ceci: </h4>
                    Etes-vous sûr de vouloir supprimer <span id="modal-body-title">l'élément</span> « <b id="modal-body-element">Element</b> » ?
                    <br><br>
                    <strong class="alert-error" id="modal-body-hint"></strong>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <%= link_to  "Supprimer", "", method: :delete, class: "btn btn-white", id: "modal-footer-button" %>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Annuler</button>
            </div>
            
        </div>
    </div>
</div>
