<div class="row align-items-center py-4">
  <div class="col-lg-6 col-7">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
      <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="#"><%= fa_icon icon %></i></a></li>
        <li class="breadcrumb-item"><a href="#"><%= breadcrumb_1 %></a></li>
        <% unless breadcrumb_2.empty? %>
          <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb_2 %></li>
        <% end %>
      </ol>
    </nav>
  </div>
</div>
