<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <%= render partial: 'shared/header', locals: {
                    icon: 'money',
                    breadcrumb_1: 'Paiements',
                    breadcrumb_2: @paiement.id.to_s,
                }
            %>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row justify-content-md-center">
        <div class="col col-sm-8">
            <div class="card">
                  <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Modifier un paiement</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <%= render partial: 'paiements/form', locals: {
                            url: paiement_path(@paiement),
                            method: :put
                        } 
                    %>
                </div>
            </div>
        </div>
    </div>
</div>